<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <style>
    .twitter-btn{
      color: blue;
      text-decoration: none;
      font-size: 18px;
      padding: 10px;
      background: #33CAFF;
    }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/">Homepage</a></li>
    </ul>
  </nav>

  <header>
    <h1>Login using...</h1>
  </header>

  <main>
    <a class="twitter-btn" href="/auth/twitter">Twitter</a>
  </main>
</body>
</html>