<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theBank</title>
</head>
<body>
    <header>
        <h1 id="logo">theBank</h1>
        <ul>
            <li><a href="#">about</a></li>
            <li><a href="#">mybank</a></li>
            <li><a href="#">resources</a></li>
            <li><a href="#">help</a></li>
            <li><a href="#">login</a></li>
        </ul>
    </header>
     
    <main>
        <section>

        </section>

        <section>
            
        </section>

    </main>

    <footer>
        <ul>
            <li><a href="#">Start Studying</a></li>
            <li><a href="#">Add new Question</a></li>
            <li><a href="#">Add new Category</a></li>
            <li><a href="#">Go to my bank</a></li>
        </ul>
    </footer>
</body>
</html>