.overlay{
    /* @apply  */
}
.overlay-background{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}